/* GLOBAL */

body{
background:#0A1128;
color:#EAEAEA;
font-family:'Poppins',sans-serif;
margin:0;
}

h1,h2,h3{
color:#ACFF11;
}

/* LAYOUT */

.login-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* CARD */

.login-card{
background:#121A3A;
padding:40px;
width:360px;
border-radius:16px;
border:1px solid #1F2A55;
box-shadow:0 0 30px rgba(172,255,17,0.15);
}

.login-title{
text-align:center;
margin-bottom:25px;
font-weight:600;
}

/* INPUT */

.input-group{
margin-bottom:20px;
}

.input-group label{
display:block;
margin-bottom:6px;
font-size:14px;
color:#B8C6FF;
}

.input-group input{
width:100%;
padding:12px;
border:1px solid #1F2A55;
border-radius:10px;
background:#0F1B40;
color:white;
outline:none;
transition:0.25s;
}

.input-group input:focus{
border-color:#ACFF11;
box-shadow:0 0 10px rgba(172,255,17,0.5);
}

/* BUTTON */

.btn-primary{
width:100%;
padding:12px;
background:#ACFF11;
color:#0A1128;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:600;
transition:0.3s;
}

.btn-primary:hover{
background:#8DCC00;
box-shadow:0 0 15px rgba(172,255,17,0.6);
}

/* ERROR */

.error-message{
color:#FF4C4C;
text-align:center;
margin-bottom:15px;
}

.register-link{
text-align:center;
margin-top:15px;
}

.register-link a{
color:#ACFF11;
text-decoration:none;
}

.register-link a:hover{
text-decoration:underline;
}



/* =========================
ROLE SELECTOR
========================= */

.role-container{
display:flex;
gap:15px;
margin-top:10px;
}

.role-container input{
display:none;
}

.role-card{

flex:1;

background:#0F1B40;
border:1px solid #1F2A55;
border-radius:12px;

padding:15px;
text-align:center;

cursor:pointer;

transition:0.25s;
}

.role-icon{
font-size:22px;
margin-bottom:6px;
}

.role-title{
font-weight:600;
color:#EAEAEA;
}

.role-desc{
font-size:12px;
color:#9FB0FF;
}

/* hover animation */

.role-card:hover{

transform:translateY(-4px);
border-color:#ACFF11;

box-shadow:0 0 15px rgba(172,255,17,0.35);

}

/* selected role */

.role-container input:checked + .role-card{

border-color:#ACFF11;
background:#121A3A;

box-shadow:
0 0 20px rgba(172,255,17,0.45),
inset 0 0 10px rgba(172,255,17,0.15);

transform:scale(1.03);

}