{% extends "admin/base_admin.html" %}

{% block title %}All Companies{% endblock %}

{% block page_title %}
All Companies
{% endblock %}

{% block top_button %}
<a href="/admin_dashboard" class="btn back-btn">← Back</a>
{% endblock %}

{% block content %}

<div class="section">

    {% if companies %}

    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>

        <tbody>

            {% for company in companies %}

            <tr>

                <td>
                    <a href="/company/{{ company.company_profile.id }}" class="company-link">
                        {{ company.name }}
                    </a>
                </td>

                <td>{{ company.email }}</td>

                <td>

                    {% if company.is_approved %}

                    <span class="badge badge-shortlisted">
                        Approved
                    </span>

                    {% else %}

                    <span class="badge badge-rejected">
                        Pending
                    </span>

                    {% endif %}

                </td>

                <td>{{ company.created_at.strftime('%Y-%m-%d') }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}
    <p>No companies registered.</p>
    {% endif %}

</div>

{% endblock %}