{% extends "admin/base_admin.html" %}

{% block title %}All Jobs{% endblock %}

{% block page_title %}
All Jobs
{% endblock %}

{% block top_button %}
<a href="/admin_dashboard" class="btn back-btn">← Back</a>
{% endblock %}

{% block content %}

<div class="section">

{% if jobs %}

<table>

<thead>
<tr>
<th>Company</th>
<th>Title</th>
<th>Salary</th>
<th>Status</th>
<th>Active</th>
<th>Applications</th>
</tr>
</thead>

<tbody>

{% for job in jobs %}

<tr>

<td>{{ job.company.company_name }}</td>

<td>

<a href="/admin/job/{{ job.id }}" class="job-link">
{{ job.title }}
</a>

</td>

<td>{{ job.salary }}</td>

<td>

{% if job.is_approved %}

<span class="badge badge-shortlisted">
Approved
</span>

{% else %}

<span class="badge badge-rejected">
Pending
</span>

{% endif %}

</td>

<td>

{% if job.is_active %}

<span class="badge badge-applied">
Active
</span>

{% else %}

<span class="badge badge-rejected">
Closed
</span>

{% endif %}

</td>

<td>{{ job.applications|length }}</td>

</tr>

{% endfor %}

</tbody>

</table>

{% else %}
<p>No jobs found.</p>
{% endif %}

</div>

{% endblock %}