<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Placement Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


    <!-- NAVBAR -->

    <header class="navbar">

        <div class="logo">
            Placement Portal
        </div>

        <nav class="nav-links">

            <a href="/" class="nav-link">Home</a>

            <a href="{{ url_for('login') }}" class="nav-link">Login</a>

            <a href="{{ url_for('regester') }}" class="register-btn">Register</a>

        </nav>

    </header>

    <div class="login-container">
        <div class="login-card">

            <h2 class="login-title">Welcome Back</h2>


            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}






            <form action="/login" method="POST">

                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>

                <button type="submit" class="btn-primary">Login</button>

            </form>

            <p class="register-link">
                Don’t have an account?
                <a href="{{ url_for('regester') }}">Register</a>
            </p>

        </div>
    </div>


    <footer class="footer">
        © 2026 Placement Portal | All Rights Reserved
    </footer>

</body>

</html>